
.container {
    position: relative;
    margin-left: 100px;
    
}

.center{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 32px;

}
.counter{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: #FFF;
}
.had{
    text-align: center;
    font-size: 88px;
    color: #FF0000;
}
.had-code{
    text-align: center;
    font-size: 24px;
    color: #FF0000;
    
}
.image{
    width: 802.9px;
    height: 500px;
    margin-left:300px;
}

h2{
    text-align: center;
}
.party{
   position: relative;
   margin-left: 100px; 
}
.victory{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: #FFF;
}
.thank{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 30px;
}
.about{
    position: absolute;
    font-size: 20px;
    top: 70%;
    left: 18%;
    transform: translate(-50%, -50%);
}
.hide{
    margin: 150px 0;
}
.text{
    margin-left: 100px;
    
}
.text2{
    color: #F00;
    font-size: 24px;
    line-height: normal;

}
.text3{
    color: #070211;
    font-size: 48px;
    line-height: normal;
}
.text4{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;

}
.icon{
    margin: 120px  ;
    height: 616px;
    border-radius: 16px;
    background: rgba(244, 219, 219, 0.996);
}
.icon2{
    margin-left: 550px;
}
.icon3{
    text-align: center;
    color: #070211;
    font-size: 48px;
    font-style: normal;
}
.icon4{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
}
.icon5{
    text-align: center;
}
.icon6{
    font-size: 20px;
    font-style: normal;
    color: #FFFFFF;
    background-color: #F00;
}
.last{
    margin-left: 80px;
    height: 500px;
    border-radius: 10px;
    background-color: #070211;
    
}
.last1{
    margin-left: 5%;
    color: #FFFFFF;
}
.last2{
    margin-left: 80%;
    color: #FFFFFF;
    

}.last3{
    margin-left: 80%;
    color: #FFFFFF;
}
.open{
   margin-left: 500px;
   
}
.open2{
    margin-left: 5%;
    color: #FFF;
    font-size: 24px;
    line-height: normal;
}
.open3{
    margin-left: 90%;
    color: #FFF;
    font-size: 24px;
    line-height: normal;
}
